<!DOCTYPE html>
<html>
<head>
    <title>Main Menu</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
</head>
<body>
    <h1>Main Menu</h1>
    <div id="menu">
        <a href="/add_mshirt">ADD_MALE_SHIRT</a>
        <a href="/add_mpant">ADD_MALE_PANT</a>
        <a href="/add_fshirt">ADD_FEMALE_SHIRT</a>
        <a href="/add_fpant">ADD_FEMALE_PANT</a>
        <a href="/delete">DELETE</a>
        <a href="/display_mcloth">DISPLAY MALE CLOTHS</a>
        <a href="/display_fcloth">DISPLAY FEMALE CLOTHS</a>
        <a href="/view_mcombination"> VIEW_MALE_COMB</a>
        <a href="/view_fcombination"> VIEW_FEMALE_COMB</a>
        <a href="/remove_bg"> REMOVE BACKGROUND</a>


    </div>
</body>
</html>